


.intro{
    padding-top: 164px;
    padding-bottom: 96px;
  
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__right{
        &--title{
            font-family: InterBold;
            font-size: 60px;
            letter-spacing: -1.2px;
            color: #111827;
        }
        &--text{
            font-size: 16px;
            color: #4B5563;
            line-height: 24px;
            max-width: 768px;
            margin-bottom: 48px;
        }
        &--location{
            .bx-map{
                font-size: 20px;
            }
            margin-bottom: 8px;
            font-size: 16px;
            display: flex;
            align-items: center;
            column-gap: 15px;
        }
        &--status{
            .bxs-circle{
                font-size: 12px;
                color: #10B981;
            }
            font-size: 16px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            margin-bottom: 48px;
        }

        &--socials{
            display: flex;
            align-items: center;
            column-gap: 10px;
            i{
                font-size: 20px;
                transition: all 0.3s ease;
            }
            .github:hover{
                color: #4B5563;
            }
            .twitter:hover{
                color: #1DA1F2;
            }
            .figma:hover{
                color: #ff0000d2;
            }
        }
    }

    &__left{
        
    }
}